.main-container {
    margin: 0 3em;
}

.navbar-brand {
    font-size: 2em;
}

.main-body {
    margin-top: 1em;
}

.main-body .card {
    margin-bottom: 1em;
}

.card > .card-title {
    font-size: 1.2em;
}

.card .img-round {
    margin-bottom: 1em;
}

.flashes {
    width: 25%;
    position: absolute;
    z-index: 11;
    right: 35%;
    top: 0;
}

.alert {
    text-align: center;
}