{% extends 'base.html' %}

{% block head %}
  <title>DistEval</title>
{% endblock %}

{% block body %}
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">DistEval</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/output">Output</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container main-body">
        <form method="POST" action="/output" enctype = "multipart/form-data">
            <div class="form-group">
                <label for="rr-raw">Input RR or NPY file</label>
                <textarea class="form-control" rows="5" id="rr-raw" name="rr-raw"  placeholder="(1) Paste RR file contents or
(2) Paste a http link, for instance, http://iris.rnet.missouri.edu/coneva/download/test/1aapA.rr"></textarea>
                
            </div>
            <div class="form-group">
                <label for="rr-file">Upload a RR/NPY file or zip file</label>
                <input type="file" class="form-control-file" id="rr-file" name="rr-file">
            </div>
            <div class="form-group">
                <label for="pdb-raw">Input PDB file</label>
                <textarea class="form-control" rows="5" id="pdb-raw" name="pdb-raw" placeholder="(1) Paste a http link, for instance, 'http://www.rcsb.org/pdb/files/3E7U.pdb' or
(2) Paste contents of PDB file"></textarea>
            </div>
            <div class="form-group">
                <label for="pdb-file">Upload a PDB file</label>
                <input type="file" class="form-control-file" id="pdb-file" name="pdb-file">
            </div>
            <!-- <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-primary submit-btn">Run Evaluation</button>
          </form>
      </div>
  </div>
{% endblock %}